<h1>Thank you!</h1>

<h2>Thanh you for your feedback.To confirm,this is the data you sent,</h2>

<h3>Name: {{ name}} </h3>
<h3>email: {{email}}</h3>
<h3>Message: {{ messahe}}</h3>
<h3>Current student: {{ currentStudent }}</h3>

<a href="/">Back to the home page</a>